body {
  background-color: #29333d;
  font-family: Trebuchet MS;
}

h1 {
  color: LemonChiffon;
  font-family: Trebuchet MS;
  font-size: 50pt;
  text-transform: capitalize;
  text-align:center
}

h2 {
  color: GreenYellow;
  font-family: Trebuchet MS;
  font-size: 21pt;
  font-weight: bold;
}

h3 {
  color: #d38ced;
  font-family: Trebuchet MS;
}

h4{
  text-align: center;
  padding: 12px 12px 12px 12px;
  color: #d38ced;
  font-size: 20px;
}

p {
  color: HoneyDew;
  font-family: Trebuchet MS;
  font-size: 14pt;
  line-height: 1.5em;
}

li {
  color: HoneyDew;
  font-family: Trebuchet MS;
  list-style-type: square;
  font-size: 14pt;
  line-height: 1.5em;
}

em {
  font-style: normal;
  font-weight: bold;
  color: #d38ced;
  font-family: Trebuchet MS;
}

p a{
  color: #d38ced;
}

nav ul li {
  display: inline-block;
  padding: 8px;
  margin: 20px;
  width: 200px;
  text-align: center;
  background-color: #d2b2e0;
  border-radius: 20px;
  border: 3px dashed #29333d;
  font-weight: bold;
  font-size: 13pt;

}
nav{
  text-align:center;
}

figure img{
  border-radius: 12%;
  align-items: center;
}

dt {
  color: #d38ced;
  font-size: 14pt;
}

dl {
  color : HoneyDew;
  font-size: 14pt;
  line-height: 1.5em;
}

a:link {
  color: black;
  font-family: Trebuchet MS;
}

strong{
  color: #d38ced;
  font-size: 14pt;
}

figure figcaption{
  font-size: 21pt;
  color: GreenYellow;
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-direction: row;
}

.class1{
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 70px;
}

.class2{
  display: flex;
  flex-direction: row;
  margin-left: 80px;
  margin-right: 100px;
  margin-top: 0px;
}

.col1 {
  display: flex;
  flex-direction: column;
}

.icons_row{
  display: flex;
  flex-direction: row;
}

.sideleft{
  float: left;
  padding: 20px;
  margin: 40px;
}

.sideright{
  float: right;
  padding: 20px;
  margin: 40px;
}

figure a{
  font-size: 10pt;
  color: Lavender;
  text-align:center;
}

.col_p{
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 30px;
  padding: 20px;
}

li a{
  color: DarkSlateBlue;
  background-color: #d2b2e0;
}

.sideleft_a{
  float: left;
  padding: 50px;
  margin: 90px;
}

.sideright_a{
  float: right;
  padding: 50px;
  margin: 90px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.center_cv {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center_200 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200%;
}


/* carousel design CSS */
section {
  display: inline;
  justify-content: center;
}

.hidden {
  display: none
}
.carousel{
  height: 600px;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 150px;
}
.mainbody_carousel{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  width: auto;
  justify-content: center;
}

.buttons{
  color: HoneyDew;
  font-size: 14px;
  background-color: #d38ced;
  font-variant: all-small-caps;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 7px 25px;
  border-radius: 4px;
  border: 2px solid #d38ced;
  cursor: pointer;
  margin-left: 30px;
  margin-right: 30px;
}

button:hover {
  color: #d38ced;
  background-color: HoneyDew;
  font-weight: bold;
  border: 2px solid #d38ced;
}

.dots{
  background-color: HoneyDew;
  width: 50px;
  height: 50px;
  border-radius: 40px;
  position: relative;
  cursor: pointer;
  border: 12px solid #29333d;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.dots:hover{
  background-color: transparent;
  border: 12px solid #d38ced;
}

.dot_color{
  background-color: #d38ced;
  border: 12px solid #d38ced;
}
.dot_section{
  margin-left: 35%;
  margin-right: 35%;
  justify-content: center;
}

.carousel_img{
  display: block;
  width: auto;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
}

.carousel_text{
  float: left;
  padding: 10px 20px 20px 20px;
  justify-content: center;
  font-size: 12pt;
  text-align: center;
}

.carousel_h2{
  text-align: center;
}

.carousel_citation{
  font-size: 8pt;
  color: Lavender;
  text-align:center;
  margin-top: 5px;
}
